<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Cadastrar Servico</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:if="${servico.id == null}">Cadastro de Funcionários</h1>
		<h1 th:if="${servico.id != null}">Editar Cadastro</h1>
		<hr />
		<form th:action="@{/servico}" th:method="@{${servico.id == null} ? 'post' : 'put'}"
			th:object="${servico}">
			<input type="hidden" th:field="*{id}" /> 
	
				<div class="form-group"> 
					<label for="nome">Serviço</label>  
					<input id="servico" name="servico" type="text" class="form-control" th:field="*{nome}" />  
				</div> 		
				
				<div class="form-group"> 
					<label for="tempo">Tempo Médio</label>  
					<input id="tempo" name="tempo" type="text" class="form-control" th:field="*{tempoMedio}" />  
				</div>
				 
				 <div class="form-group"> 
					<label for="valor">Valor</label>  
					<input id="valor" name="valor" type="text" class="form-control" th:field="*{valor}" />  
				</div> 

			<button type="submit" class="btn btn-success">Cadastrar</button>
			<a th:href="@{/servicos/meus_servicos}" class="btn btn-default">Cancelar</a>
		</form>
	</div>
</body>
</html>