<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Serviços Cadastrados</title>
	</head>
	<body>
		<div layout:fragment="content">
			<h1>Serviço Cadastrado</h1>
			<hr />
			<div class="form-group"> 
				<label for="nome">Nome: </label>  
				<span th:text="${servico.nome}"></span> 
			</div> 
			
			<div class="form-group"> 
				<label for="tempo">Tempo Médio: </label>  
				<span th:text="${servico.tempoMedio}"></span> 
			</div> 
			
			<div class="form-group"> 
				<label for="valor">Valor: </label>  
				<span th:text="${servico.valor}"></span> 
			</div> 
					
			<a th:href="@{/servico/indexServ}" class="btn btn-primary" >Voltar</a> 
			<a th:href="@{/servico/{id}/edit(id = ${servico.id})}" class="btn btn-info">Editar</a>
			<a th:href="${servico.id +'/delete'}" class="btn btn-danger">Excluir</a>
			
		</div>
	</body>
</html>