<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  
    <title>Clientes Cadastrados</title>
</head>
<body>

	<div layout:fragment="content">
		<h1>Clientes</h1>
		<hr />
		<a th:href="@{/cadastro/cadPessoa}" class="btn btn-success">Cadastrar</a><br/><br/>
		
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th> 
					<th>CPF</th>
					<th>Endereço</th>
					<th>Telefone</th>
					<th>Email</th> 
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pessoa : ${listPessoa}">
					<td th:text="${pessoa.nome}"></td> 
					<td th:text="${pessoa.cpf}"></td>
					<td th:text="${pessoa.endereco}"></td> 
					<td th:text="${pessoa.telefone}"></td>  
					<td th:text="${pessoa.email}"></td> 
					<td>
							<a th:href="@{/cadastro/{id}(id = ${pessoa.id})}" class="btn btn-primary" >Show</a> 
					 		<a th:href="@{/cadastro/{id}/edit(id = ${pessoa.id})}" class="btn btn-info">Editar</a> 
					 		<a th:href="${pessoa.id +'/delete'}" class="btn btn-danger">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	  </div>
	  
	  
</body>
</html>