<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Clientes Cadastrados</title>
	</head>
	<body>
		<div layout:fragment="content">
			<h1>Cliente Cadastrado <a th:href="@{/veiculo/veiculos}" class="btn btn-primary" style="margin-right:20px;" >Meus Veículos</a></h1>
			<hr />
			<div class="form-group"> 
				<label for="nome">Nome: </label>  
				<span th:text="${pessoa.nome}"></span> 
			</div> 
			
			<div class="form-group"> 
				<label for="cpf">CPF: </label>  
				<span th:text="${pessoa.cpf}"></span> 
			</div> 
			
			<div class="form-group"> 
				<label for="endereco">Endereço: </label>  
				<span th:text="${pessoa.endereco}"></span> 
			</div> 
			
			<div class="form-group"> 
				<label for="telefone">Telefone: </label>  
				<span th:text="${pessoa.telefone}"></span> 
			</div> 
			
			<div class="form-group"> 
				<label for="email">Email: </label>  
				<span th:text="${pessoa.email}"></span> 
			</div> 
		
			<a th:href="@{/cadastro/index}" class="btn btn-primary" >Voltar</a> 
			<a th:href="@{/cadastro/{id}/edit(id = ${pessoa.id})}" class="btn btn-info">Editar</a>
			<a th:href="${pessoa.id +'/delete'}" class="btn btn-danger">Excluir</a>
			
		</div>
	</body>
</html>