<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Cadastro Funcionario</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:if="${funcionario.id == null}">Cadastro de Funcionários</h1>
		<h1 th:if="${funcionario.id != null}">Editar Cadastro</h1>
		<hr />
		<form th:action="@{/cadastros}" th:method="@{${funcionario.id == null} ? 'post' : 'put'}"
			th:object="${funcionario}">
			<input type="hidden" th:field="*{id}" /> 
	
				<div class="form-group"> 
					<label for="nome">Nome</label>  
					<input id="nome" name="nome" type="text" class="form-control" th:field="*{nome}" />  
				</div> 
				
				<div class="form-group"> 
					<label for="cpf">CPF</label>  
					<input id="cpf" name="cpf" type="text" class="form-control" th:field="*{cpf}" />  
				</div> 
				
				<div class="form-group"> 
					<label for="endereco">Endereço</label>  
					<input id="endereco" name="endereco" type="text" class="form-control" th:field="*{endereco}" />  
				</div> 
				
				<div class="form-group"> 
					<label for="telefone">Telefone</label>  
					<input id="telefone" name="telefone" type="text" class="form-control" th:field="*{telefone}" />  
				</div> 
				
				<div class="form-group"> 
					<label for="empresa">Empresa</label>  
					<input id="empresa" name="empresa" type="text" class="form-control" th:field="*{empresa}" />  
				</div> 
				
				<div class="form-group"> 
					<label for="id">Matrícula</label>  
					<input id="id" name="id" type="text" class="form-control" th:field="*{id}" />  
				</div> 
				
				<div class="form-group"> 
					<label for="funcao">Função</label>  
					<input id="funcao" name="funcao" type="text" class="form-control" th:field="*{funcao}" />  
				</div> 
				
				<div class="form-group"> 
					<label for="salario">Salário</label>  
					<input id="salario" name="email" type="text" class="form-control" th:field="*{salario}" />  
				</div> 
				
				<div class="form-group"> 
					<label for="email">Email</label>  
					<input id="email" name="email" type="text" class="form-control" th:field="*{email}" />  
				</div> 
				
				<div class="form-group"> 
					<label for="senha">Senha</label>  
					<input id="senha" name="senha" type="text" class="form-control" th:field="*{senha}" />  
				</div> 
				
				
			<button type="submit" class="btn btn-success">Cadastrar</button>
			<a th:href="@{/funcionarios}" class="btn btn-default">Cancelar</a>
		</form>
	</div>
</body>
</html>