<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	 	<meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	    <meta name="description" content="Sistema de Concessionária Pós-Venda" />
	    <meta name="author" content="Analla Nayane" />
	    <title>Perfil</title>
	    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="_css/estilo.css" type="text/css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	 
	 	<!-- Barra Menu e Head -->
		<div class="w3-top">
			<div class="w3-bar w3-light-blue" id="myNavbar">
			    <a href="/"><img class="w3-image w3-bar-item" 
			    src="_imagens/logo.png" style="width:10%"></a>
			    <span class="w3-bar-item w3-text-white w3-xxlarge">Hi-Car</span>
				<div class="w3-dropdown-hover w3-right w3-light-blue">
                  <i class="material-icons w3-xxlarge w3-padding-large w3-margin-top w3-text-white">person</i> 
                  <div class="w3-dropdown-content w3-bar-block w3-border">
                    <a th:href="@{/perfil}" class="w3-bar-item w3-button w3-hover-blue">Perfil</a>
                    <a href="/" class="w3-bar-item w3-button w3-hover-blue">Sair</a>
                  </div> 
            	</div>
            <a href="mensagem.html" class="w3-light-blue material-icons w3-xxlarge w3-padding-large w3-margin-top w3-text-white w3-right"style="text-decoration: none">email</a>
			</div>
		</div>
	</head>	
	
	<!--Corpo da Página de Perfil do Usuário-->
	<body>
	<div id="Perfil" class=" w3-display-container w3-padding" style="margin-top: -4%">
      <div class="w3-content w3-margin-top w3-padding" style="max-width:50%; opacity: 0.95;">
        <div class="w3-content w3-container w3-center w3-padding-64 w3-align w3-margin-top" id="agendar">
          <form class="w3-container w3-card-4" action="/action_page.php">
		    <i class="material-icons w3-center w3-margin-top" style="margin-left:2%; font-size:120px">account_circle</i>
		      <form class="w3-container">
		        <div class="w3-section">
		        	<p><input class="w3-input" type="text" placeholder="Nome" name="nome"></p>
		        	<p><input class="w3-input" placeholder="CPF" type="text" name="cpf" maxlength="14" OnKeyPress="formatar('###.###.###-##', this)"></p>
		        	<p><input class="w3-input" type="text" placeholder="Endereço" name="endereco"></p>
		        	<p><input class="w3-input" type="tel" placeholder="Telefone  ex.:(00) 00000-0000" name="telefone" maxlength="15"></p>
		        	<p><input class="w3-input" type="text" placeholder="Email" name="usuario"></p>
		      	</div>
		        <div class="w3-margin-top">
		    	  	<a th:href="@{/user}" class="w3-right w3-button w3-blue w3-hover-light-blue w3-round-large" type="submit">Salvar Alterações</a>
		    	  	<a th:href="@{/user}"  type="button" class="w3-right w3-button w3-text-red w3-hover-red w3-round-large w3-margin-right">Cancelar</a><br>
		        </div> <br>          
			    </div>
			  </form>
		    </div>
		</div>
		
		<!-- Footer -->
	    <footer class="w3-container w3-center w3-dark-grey">
	      <a href="https://www.facebook.com/" style="text-decoration: none" target="_blank" class="fa fa-facebook-square w3-text-color-white w3-xxlarge w3-padding"></a>
	      <a href="https://www.instagram.com/" style="text-decoration: none" target="_blank" class="fa fa-instagram w3-text-color-white w3-margin-top w3-xxlarge"></a>
	      <a href="https://www.linkedin.com/" style="text-decoration: none" target="_blank" class="fa fa-linkedin w3-text-color-white w3-xxlarge w3-padding"></a>

	      <a href="#Perfil"><i class="fa fa-chevron-circle-up w3-right w3-xxlarge" style="margin-top:4%; margin-right:2%;" alt="Início"></i></a>
	        <p class="w3-center w3-align">© 2018 Hi-Car All Rights Reserved</p><br/>
	    </footer>
	</body>
</html>